.cart {
    background-color: var(--rose-50);
    border-radius: 13px;
    padding: 25px;
    width: 320px;
    flex-shrink: 0;
}

.cart h2 {
    color: var(--red);
    font-size: 1.5rem;
    margin-bottom: 16px;
}
.cartItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-radius: 1px solid var(--rose-100);
    background-color: var(--rose-50);
}
.itemName {
    font-weight: 600;
    margin-bottom: 3px;
    font-size: 0.9rem;
}
.itemDetails {
    display: flex;
    gap: 7px;
    color: var(--rose-500);
    font-size: 0.875rem;
}
.itemQty {
    color: var(--red);
    font-weight: 600;
}
.itemPrice {
    color: var(--rose-400);
}
.itemTotal {
    color: var(--rose-500);
    font-weight: 600;
}
.removeBtn {
    background: transparent;
    border-radius: 50%;
    border: 1px solid var(--red-500);
    width: 20px;
    height: 20px;
    color: var(--rose-400);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
}
.orderTotal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
}
.carbonBanner {
    background-color: var(--rose-100);
    margin: 15px 0;
    padding: 16px;
    font-size: 0.875rem;
    text-align: center;
    border-radius: 8px;
}
.totalAmount {
    font-weight: 600;
    font-size: 1.4rem;
}
.confirmBtn {
    width: 100%;
    font-weight: 600;
    color: white;
    border-radius: 16px;
    border: none;
    padding: 14px;
    font-size: 1rem;
    background-color: var(--red);
    cursor: pointer;
}
.confirmBtn:hover {
    background-color: var(--rose-900);
}
.emptyCart {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
     padding: 24px 0;
}
.emptyCart img {
    width: 50%;
    margin-bottom: 10px;
}
.emptyCart p {
    color: var(--rose-500);
    font-size: 0.875rem;
}