
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Red Hat Text", sans-serif;
  background-color: var(--rose-50);
  color: var(--rose-900);
}
.app {
    display: flex;
    padding: 48px;
    gap: 32px;
    align-items: flex-start;
    max-width: 1440px;
    margin: 0 auto;
}

@media (max-width: 760px) {
  .app {
    flex-direction: column;
    padding: 25px;
  }
}
